acres
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyascii
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
async-timeout
attrs
axios
Babel
bcrypt
beautifulsoup4
bleach
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
ci-info
click
cloudpathlib
colorama
comm
confection
configobj
configparser
cryptography
cymem
dateparser
DateTime
debugpy
decorator
defusedxml
distlib
distro
Django
docx2txt
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
etelemetry
exceptiongroup
executing
fastjsonschema
filelock
fitz
Flask
Flask-Cors
fqdn
frontend
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
h2
h5py
hpack
httpcore
httplib2
httpx
huggingface-hub
Hypercorn
hyperframe
idna
importlib_resources
ipykernel
ipython
ipywidgets
isodate
isoduration
itsdangerous
jedi
Jinja2
jiter
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jwt
langcodes
langdetect
language_data
looseversion
lxml
marisa-trie
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
mpmath
multidict
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel
nipype
nodeenv
notebook
notebook_shim
numpy
onnx
openai
opencv-python
outcome
overrides
packaging
pandas
pandocfilters
parso
pathlib
pdfminer.six
pdfplumber
pillow
platformdirs
preshed
priority
prisma
prometheus_client
prompt-toolkit
propcache
proto-plus
protobuf
prov
psutil
psycopg2
psycopg2-binary
pure-eval
puremagic
pyasn1
pyasn1_modules
pyclipper
pycparser
pydantic
pydantic_core
pydot
Pygments
PyJWT
PyMuPDF
pyparsing
PyPDF2
pypdfium2
PySocks
python-dateutil
python-doctr
python-docx
python-dotenv
python-json-logger
pytz
pyxnat
PyYAML
pyzmq
qtconsole
QtPy
RapidFuzz
rdflib
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scipy
selenium
Send2Trash
shapely
shellingham
simplejson
six
smart-open
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
stack-data
starlette
StrEnum
sympy
taskgroup
terminado
thinc
tiktoken
tinycss2
tomli
tomlkit
tools
torch
torchvision
tornado
tqdm
traitlets
traits
trio
trio-websocket
typer
types-python-dateutil
typing-inspection
typing_extensions
tzdata
tzlocal
uri-template
uritemplate
urllib3
uvicorn
virtualenv
virtualenvwrapper-win
wasabi
wcwidth
weasel
webcolors
webdriver-manager
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
wsproto
yarl
zope.interface
gunicorn
